/* Global settings */
:root {
  --font-header: 'Inconsolata';
  --font-text: 'Source Code Pro';
  --font-size-1: 1rem;
  --font-size-1_5: 1.5rem;
  --font-size-2: 2rem;
  --font-size-2_5: 2.5rem;
  --font-size-3: 3rem;
  --orange: rgb(255, 165, 0);
  --pink: rgb(255, 0, 212);
  --lightblue: rgb(0, 238, 255);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #000000, #202222);
}
/* Typing effect */
#typingContainer {
  color: var(--orange);
  font-family: var(--font-text), serif; 
  font-size: var(--font-size-2_5); 
  margin: 2rem 1rem; 
  letter-spacing: 6px; 
  font-weight: 700;
  height: 200px;
}
#typewriter {
  width: 70%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* Nav bar */
#navContainer {
padding-top: 2.5rem;
text-align: center;
}
#nav li{
  display: inline-block;
  list-style-type: none;
}
#nav li a{
  padding: 1rem;
	color: var(--pink);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-header), serif; 
  font-size: var(--font-size-1_5);
  text-align: center;
}
#nav li a:hover{
  animation: flash 0.7s;
  animation-fill-mode: both;
}
@keyframes flash {
  0% {
    background-color: black;
    color: var(--pink)
  }
  100% {
    background-color: var(--pink);
    color: var(--lightblue)
  }
}
/* Projects */
#projectsContainer {
  margin: 1rem;
  border: 2px solid var(--orange)
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px solid var(--pink);
  margin: 0.5rem;
}
.projectImage {
  margin: 1rem;
  padding: 1rem;
}
figcaption {
  color: var(--orange);
  padding: 0.5rem;
}
.projectText {
  color: var(--lightblue);
  padding-left: 0.5rem;
  line-height: 1.3;
}



